h2 {
    margin-top: 25px;
    font-size: 17;
}

section#book-form {
  text-align: center;
}

form {
  margin: 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 400px;
  display: inline-block;
  text-align: left;
}

div.input-section {
  border-bottom: 1px solid darkgray;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

label {
    font-size: 12;
    font-weight: 600;
    margin-bottom: 8px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(82, 82, 82);
}

input[type=text] {
    width: 100%;
    padding: 8px 10px;
    box-sizing: border-box;
    display: block;
    font-size: 12px;
    margin-bottom: 20px;
    border: 1px solid darkgray;
  }

/*Button to add a Book to the Database*/
input[type=submit] {
  background-color: rgb(0, 168, 0);
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13;
}

input[type=submit]:hover {
  background-color: green;
  box-shadow: 0 0 5px rgb(77, 77, 77);
  }

/*Button to add more authors*/
div.add-option-container {
  margin: 0;
}

input[type=button].add-option {
  background-color: grey;
  color: white;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12;
}

input[type=button].add-option:hover {
  box-shadow: 0 0 3px rgb(61, 61, 61); 
}

button.remove-author {
  color: rgb(209, 0, 0);
  font-weight: bold;
  font-size: 15px;
  background-color: transparent;
  border: none;
  float: right;
  padding-top: 3px;
  cursor: pointer;
}

button.remove-author:hover {
  text-shadow: 1px 1px rgba(255, 0, 0, 0.274);
}

select.input-dropdown {
  margin-bottom: 5px;
  padding: 5px 3px;
  border: 1px solid darkgray;
}

select.rating-dropdown {
  margin-bottom: 15px;
}

#newauthor {
  float: left;
}

#multipleauthors {
  display: block;
}