aside#wishlist-box {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px ;
    background-color: rgb(255, 182, 153);
}

aside#wishlist-box > h3 {
    margin-bottom: 0px;
}

ul#wishlist {
    padding-left: 15px;
}

ul#wishlist > li {
    padding-bottom: 8px;
}

/* ========================== BOOKLIST ========================*/

#listofbooks {
    list-style-type: none;
    padding: 0;
}

.bookcard {
    background-color: rgb(194, 194, 194);
    width: 200px;
    height: 300px;
    text-align: center;
    padding: 10px;
    margin: 15px;
    display: inline-block;
    border-radius: 5px;
}

.bookcard:hover {
    box-shadow: 0 0 8px rgb(77, 77, 77);
}

.bookcard img.bookcover {
    max-width: 100px;
    max-height: 140px;
}

.bookcard div.title-author {
    height: 55px;  /* ensure the section with title and author is always the same height so the rating is aligned */
}

.bookcard p.booktitle {
    font-weight: bold;
    margin-bottom: 7px;
    max-height: 50px;
}

.bookcard p.author {
    margin-top: 0;
    font-size: 12px;
    font-weight: bold;
}

.bookcard p.rating {
    font-size: 12px;
}

.bookcard p.rating > .filled-star {
    color: gold;
}

.bookcard p.rating > .empty-star {
    color: rgb(250, 250, 250);
}

.bookcard p.rating > .empty-star, .filled-star {
    font-size: 20px;
}

.bookcard button {
    color: white;
    border: none;
    border-radius: 5px;
    width: 140px;
    padding: 5px;
    font-size: 12px;
}

.bookcard button:hover {
    font-weight: bold;
}

.bookcard button.wishlist-add {
    background-color: rgb(39, 184, 39);
}

.bookcard button.wishlist-remove {
    background-color: rgb(221, 53, 53);
}