
SECTION {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  }
  .chartCard {
    height: calc(100vh - 40px);
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .chartBox {
    width: 700px;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px darkblue;
    background: white;
  }